@{
    ViewBag.Title = System.Web.HttpContext.Current.Application["ApplicationName"].ToString();
}

<div class="row">

    <div class="small-6 large-centered columns bodyContainer">

        <!-- ******************** -->
        <!--   MIDDLE COLUMN -->
        <!-- ******************** -->

        <img src="http://www.tiradoonline.com/images/photos/teddy.jpg" alt="Theodore Tirado" width="311" height="551" hspace="0" vspace="0" border="0" class="photoTeddy" style="float:right;margin-left:20px; margin-bottom:20px;opacity:1;">

        <div style="text-align: left">

            <!-- ********************************************************** -->
            <!-- ********************************************************** -->
            <!-- ********************************************************** -->
            <!-- GRAB CODE FROM HERE -->
            <!-- ********************************************************** -->
            <!-- ********************************************************** -->
            <!-- ********************************************************** -->
            You may be seeking a high-energy programmer with solid <b>
                Classic ASP/ASP.NET 3.5, C# (8 Years), Web Forms,
                MVC 3 (Razor) (3 years), LINQ (8 Years), SQL SERVER 2008 (13 Years), XML, HTML 5, CSS  3, Responsive Design (3 Years),
                JQuery/JQuery UI Widgets (9 Years), Foundation CSS Framework (1 Year), Javascript
            </b> experience, who brings a
            no-excuses attitude and is up to any task.

            <p />

            If so, then I am the professional you are seeking.

            <p />

            I have over <b>thirteen years</b> experience in <b>
                Analysis, Database Administration, Design, Development, Testing and
                Implementation of Client/Server web-based applications
            </b>.  I have been challenged to create and deliver solutions
            that meet - indeed surpass - organizational expectations.  I specialize in converting existing
            <b>CLASSIC ASP/VBScript websites to C#(Webforms/MVC3)</b> applications. I have attached my resume for your review.

            <p />

            Let us meet, Then I can learn more about your requirements and present my matching qualifications.
            I can be reached at <a href="mailto:developer@tiradoonline.com"><b>developer@tiradoonline.com</b></a> or <b>347.414.1284</b>.

            <p />

            Thank you for your time and consideration.

            <div>
                <img src="~/Content/images/signatures/theodore_tirado.gif" alt="Theodore Tirado" border="0" style="padding-top:10px;padding-bottom:10px;">
            </div>

            Theodore Tirado<br />
            Web Developer

            <!-- ********************************************************** -->
            <!-- ********************************************************** -->
            <!-- ********************************************************** -->
            <!-- END GRAB CODE FROM HERE -->
            <!-- ********************************************************** -->
            <!-- ********************************************************** -->
            <!-- ********************************************************** -->


            <div class="clearBoth"></div>


            <table cellpadding="0" border="0" align="center" width="100%">
                <tr align="center">

                    <td class="iconImage" height="100" align="center">
                        <div style="text-align:center">
                            <a href="~/resumes/download.asp?ResumeFile=Theodore_Tirado_Resume.docx"><img src="http://www.tiradoonline.com/images/icons/word.gif" /></a>
                            <div class="clearBoth"></div>
                            Word Document
                        </div>
                    </td>

                    <td class="iconImage" height="100" align="center">
                        <div style="text-align:center">
                            <a href="~/resumes/download.asp?ResumeFile=Theodore_Tirado_Resume_with_Cover_Letter.docx"><img src="http://www.tiradoonline.com/images/icons/word.gif" /></a>
                            <div class="clearBoth"></div>
                            Word Document <br>w/Cover Letter
                        </div>
                    </td>

                    <td class="iconImage" height="100" align="center">
                        <div style="text-align:center">
                            <a href="~/resumes/download.asp?ResumeFile=Theodore_Tirado_Resume.pdf"><img src="http://www.tiradoonline.com/images/icons/pdf.gif" /></a>
                            <div class="clearBoth"></div>
                            PDF Document
                        </div>
                    </td>

                    <td class="iconImage" height="100" align="center">
                        <div style="text-align:center">
                            <a href="~/resumes/download.asp?ResumeFile=Theodore_Tirado_Resume_with_Cover_Letter.pdf"><img src="http://www.tiradoonline.com/images/icons/pdf.gif" /></a>
                            <div class="clearBoth"></div>
                            PDF Document <br>w/Cover Letter
                        </div>
                    </td>

                </tr>
            </table>

        </div>


    </div>


</div>