<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="tiradoonlineConnectionString" connectionString="data source=.\SQL2K14;initial catalog=tiradoonline;persist security info=True;user id=tiradoonline_user;password=Sixpak141414;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>